body {
	background: url("https://thereadersguidetoepublishing.files.wordpress.com/2012/08/welcome-to-redemption-town-pic.jpg") no-repeat;
	background-size: cover;
	margin-bottom: 0px;
	padding: 0;
}

header {
	position: fixed;
	background-color: white;
	width: 100%;
	box-shadow: 0 0 10px black;
	margin: 0;
	z-index: 3;
}

#headerTitle {
	width: 960px;
}

#boundary {
	width: 960px;
	height: 10px;
	position: fixed;
	left: 50%;
	transform: translateX(-50%);
	padding: 0;
}

#timerContainer {
	position: relative;
	z-index:2;
	height:10px;
	background: white;
	float: right;
	width: 360px;
	box-shadow: 0 0 10px black;
	margin-right: 20px;
	transition-duration: 1s;
}

#timer {
	position: absolute;
	width: 340px;
	height: 20px;
	background-color: black;
	border-radius: 10px 10px;
	padding: 2px;
	bottom: 5px;
	right: 10px;
	margin: 0;
	color: white;
	text-align: center;
	font-weight: bold;
}

.timerDots {
	background-color: #00FF00;
	width: 16px;
	height: 17px;
	border-radius: 50%;
	margin: 0;
}

#questionCard {
	position: absolute;
	width: 100%;
	height: 80%;
	margin: 0;
	background-color: white;
	z-index: 1;
	border-bottom: 5px solid lightblue;
	transition: 1s;
	overflow: hidden;
	padding-left: 20px;
}

#questDiv {
	position: absolute;
	bottom:100px;
}

#displayQuestion{
	margin-bottom: 20px;
}
.buts {
	font-size: 15px;
	margin: 10px;
	border: 2px solid white;
}

.buts:hover {
	border: 2px solid black;
	cursor: pointer;
}