body {
  background: url("https://thereadersguidetoepublishing.files.wordpress.com/2012/08/welcome-to-redemption-town-pic.jpg")
    no-repeat;
  background-size: cover;
  margin-bottom: 0px;
  padding: 0;
}

// header {
// 	position: fixed;
// 	background-color: white;
// 	width: 100%;
// 	box-shadow: 0 0 10px black;
// 	margin: 0;
// 	z-index: 3;
// }

// #headerTitle {
// 	width: 960px;
// }

#boundary {
  width: 960px;
  height: 10px;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  padding: 0;
}

// #timerContainer {
//   position: relative;
//   z-index: 2;
//   height: 10px;
//   background: white;
//   float: right;
//   width: 360px;
//   box-shadow: 0 0 10px black;
//   margin-right: 20px;
//   transition-duration: 1s;
// }

// #timer {
//   position: absolute;
//   width: 340px;
//   height: 20px;
//   background-color: black;
//   border-radius: 10px 10px;
//   padding: 2px;
//   bottom: 5px;
//   right: 10px;
//   margin: 0;
//   color: white;
//   text-align: center;
//   font-weight: bold;
// }

// .timerDots {
//   background-color: #00ff00;
//   width: 16px;
//   height: 17px;
//   border-radius: 50%;
//   margin: 0;
// }

#questionCard {
  position: absolute;
  top: 135px;
  right: calc(50% - 400px);
  min-height: 400px;
  height: calc(100% - 165px);
  background-color: white;
  min-width: 800px;
  overflow-y: auto;
  border-radius: 30px;
  box-shadow: 2px 2px 5px inset gray;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
